

<svg id="mainSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600">
	<rect id="bg" width="800" height="600" fill="#b3b3b3"/>
      <g class="icon" id="camera">
        <rect x="255" y="275" width="50" height="50" rx="25" ry="25" fill="#fff"/>
        <path d="./images/confetti.png" fill="#b3b3b3"/>
      </g>


      <g class="icon" id="clip">
        <rect x="315" y="275" width="50" height="50" rx="25" ry="25" fill="#fff"/>
        <path d="./images/help.png" fill="#b3b3b3"/>
      </g>


      <g class="icon" id="plane">
        <rect x="375" y="275" width="50" height="50" rx="25" ry="25" fill="#fff"/>
        <path d="./images/idea.png" fill="#b3b3b3"/>
      </g>


      <g class="icon" id="pin">
        <rect x="435" y="275" width="50" height="50" rx="25" ry="25" fill="#fff"/>
        <path d="./images/send.png" fill="#b3b3b3"/>
      </g>


      <g class="icon" id="cog">
        <rect x="495" y="275" width="50" height="50" rx="25" ry="25" fill="#fff"/>
        <path d="./images/confetti.png" fill="#b3b3b3"/>
      </g>
</svg>
